<div class="col-md-12 comments_wrapper clearfix">
  <div class="pull-left">
    <!--显示单个评论的评分-->
    <div class="star-rating" data-score= <%= comment.rating %> ></div>
    <p>
      <small>by
        <% if comment.user.name.present? %>
          <%= comment.user.name %>
        <% else %>
        <%= comment.user.email %>
        <% end %>
        <strong><%= comment.created_at %></strong>

      </small>
    </p>
    <p class="lead"><%= comment.body %></p>
  </div>

  <div>
    <% if comment.user == current_user %>
      <%= link_to("Delete", product_comment_path(@product, comment), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-default btn-xs pull-right" ) %>
    <% end %>
  </div>
</div>
