
<!-- ↓↓↓ 大图滚动banner 代码块↓↓↓ -->
<!-- 需在application.js中加入"//= require bootstrap-sprockets"才能动起来 -->

<!-- Add this css File in head tag-->
       <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" media="all">
       <link href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css" rel="stylesheet" media="all">


<!--
       If you want to change #bootstrap-touch-slider id then you have to change Carousel-indicators and Carousel-Control  #bootstrap-touch-slider slide as well
       Slide effect: slide, fade
       Text Align: slide_style_center, slide_style_left, slide_style_right
       Add Text Animation: https://daneden.github.io/animate.css/
       -->

      <div class="row">


       <div id="bootstrap-touch-slider" class="carousel bs-slider slide  control-round indicators-line" data-ride="carousel" data-pause="hover" data-interval="5000" >

           <!-- Indicators -->
           <ol class="carousel-indicators">
               <li data-target="#bootstrap-touch-slider" data-slide-to="0" class="active"></li>
               <li data-target="#bootstrap-touch-slider" data-slide-to="1"></li>
               <li data-target="#bootstrap-touch-slider" data-slide-to="2"></li>
           </ol>

           <!-- Wrapper For Slides -->
           <div class="carousel-inner" role="listbox">

               <!-- Third Slide -->
               <div class="item active">

                   <!-- Slide Background -->
                   <img src="http://ww4.sinaimg.cn/large/006tNbRwgy1ffz6uetng1j30xr0drtcg.jpg"  alt="Bootstrap Touch Slider"  class="slide-image"/>
                   <!-- <div class="bs-slider-overlay"></div> -->

                   <div class="container">
                       <div class="row">
                           <!-- Slide Text Layer -->
                           <div class="slide-text slide_style_center">

                               <p style="font-family:Poynter,serif; color:white; font-size:3em;" data-animation="animated zoomInRight">Gifts to Celebrate Every Dad</p>
                               <!-- <p data-animation="animated fadeInLeft">Bootstrap carousel now touch enable slide.</p> -->
                               <%= link_to("Shop Now", products_path, :class => "btn btn-default") %>
                               <!-- <a href="http://bootstrapthemes.co/" target="_blank"  class="btn btn-primary" data-animation="animated fadeInRight">select two</a> -->
                           </div>
                       </div>
                   </div>
               </div>
               <!-- End of Slide -->

               <!-- Second Slide -->
               <div class="item">

                   <!-- Slide Background -->
                   <img src="http://ww1.sinaimg.cn/large/006tKfTcgy1fg72so05uij30xr0drgqe.jpg" alt="Bootstrap Touch Slider"  class="slide-image"/>
                   <!-- <div class="bs-slider-overlay"></div> -->
                   <!-- Slide Text Layer -->
                   <div class="slide-text slide_style_center">
                       <p style="font-family:Poynter, serif; color:black; font-size:3.5em;" data-animation="animated flipInX">Plan Your Summer Escape</p>
                       <p style="font-family:Poynter, serif; color:black; font-size:1.5em;" data-animation="animated lightSpeedIn">No plane ticket? No problem. Let summer reading take you places.</p>
                       <!-- <a href="http://bootstrapthemes.co/" target="_blank" class="btn btn-default" data-animation="animated fadeInUp">select one</a> -->
                       <!-- <a href="http://bootstrapthemes.co/" target="_blank"  class="btn btn-primary" data-animation="animated fadeInDown">Shop Now</a> -->
                   </div>
               </div>
               <!-- End of Slide -->

               <!-- Third Slide -->
               <div class="item">

                   <!-- Slide Background -->
                   <img src="http://ww1.sinaimg.cn/large/006tKfTcgy1fg78fwqwbcj30xr0dr40m.jpg" alt="Bootstrap Touch Slider"  class="slide-image"/>
                   <!-- <div class="bs-slider-overlay"></div> -->
                   <!-- Slide Text Layer -->
                   <div class="slide-text-b slide_style_left">
                       <p style="font-family:Poynter, serif; color:black; font-size:3.5em;" data-animation="animated zoomInLeft">Mystery in <br> the Mountains</p>
                       <p style="font-family:Poynter, serif; color:black; font-size:1.5em;" data-animation="animated fadeInRight">Danger threatens a family ranch <br>in the sizzling new novel by Nora Roberts.</p>
                       <!-- <a href="http://bootstrapthemes.co/" target="_blank" class="btn btn-default" data-animation="animated fadeInLeft">select one</a>
                       <a href="http://bootstrapthemes.co/" target="_blank" class="btn btn-primary" data-animation="animated fadeInRight">select two</a> -->
                       <%= link_to("SHOP NOW", products_path, :class => "btn btn-default") %>
                   </div>
               </div>
               <!-- End of Slide -->


           </div><!-- End of Wrapper For Slides -->

           <!-- Left Control -->
           <a class="left carousel-control" href="#bootstrap-touch-slider" role="button" data-slide="prev">
               <span class="fa fa-angle-left" aria-hidden="true"></span>
               <span class="sr-only">Previous</span>
           </a>

           <!-- Right Control -->
           <a class="right carousel-control" href="#bootstrap-touch-slider" role="button" data-slide="next">
               <span class="fa fa-angle-right" aria-hidden="true"></span>
               <span class="sr-only">Next</span>
           </a>

       </div> <!-- End  bootstrap-touch-slider Slider -->
     </div>




<div class="hp-header clearer style: text-center">
  <br>
  <p>The Best Bookstore Online
  </br>Over 6 million books ready for shipment within 24 hours and 4.5 million eBooks to download now.
  <p>
  <hr></hr>

  <h2 style="font-family:Poynter,serif;">Recommended For You</h2>
  <br>
  <br>

</div>





<!-- 首页精选商品列表 -->
<div class="container-fluid">

    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12">

        <% @products.each do |product| %>
        <div class="book-item">
          <div class="col-xs-12 col-sm-6 col-md-2" style="width:160px;" id="products-list">
            <div class="product-image">
              <% link_to product_path(product) %>
              <% if product.image.present? %>
              <%= link_to image_tag(product.image.thumb.url, class: "product-list-style-img img-responsive center-block"), product_path(product) %>
            <% else %>
              <%= link_to image_tag("http://placehold.it/200x200&text=No Pic", class: "product-list-style-img img-responsive center-block"), product_path(product) %>
              <% end %>
            </div>
            <br>
            <h4 class="product-title">
              <%= link_to(product.title, product_path(product), style: "text-align: center") %>
            </h4>
            <br>
            <!--<div class="rating" style="margin-bottom: 20px;">
              rating
            </div> -->
          </div>
        </div>
        <% end %>
      </div>

      <div class="col-xs-6">
        <%= link_to("more >", products_path, class: "pull-right morespan") %>
      </div>

    </div>
  </div>
  <!-- 首页精选商品列表 -->



    <div class="hp-layout-width clearer">
     <div class="hp-categories">
      <h2>Shop By Category</h2>
      <div class="hp-category-group-2col">
       <div class="hp-category hp-cat-w624">
        <a href="/products" onclick="set_cookie('hpcategories_books_na_imagetext');">
         <div class="hp-category-name left">
          Books
         </div> <img src="//dispatch.barnesandnoble.com/content/dam/ccr/homepage/daily/2017/categories/0112/Books_CategoryPod_.jpg" alt="" /> </a>
       </div>
       <div class="hp-category">
        <a href="#" onclick="set_cookie('hpcategories_ hobbies-collectibles_na_imagetext');">
         <div class="hp-category-name">
           Hobbies &amp; Collectibles
         </div> <img src="//dispatch.barnesandnoble.com/content/dam/ccr/homepage/daily/2017/categories/03/01/HobbiesCollectibles_CategoryPod.jpg" alt="" /> </a>
       </div>
       <!--
  <div class="hp-category">
  <a href="/b/textbooks/_/N-8q9" onclick="set_cookie('hpcategories_textbooks_na_imagetext');">
  <div class="hp-category-name">Textbooks</div>
  <img src="//dispatch.barnesandnoble.com/content/dam/ccr/homepage/daily/2017/categories/0112/Textbooks_CategoryPod_.jpg" alt="" / >
  </a>
  </div> -->
       <div class="hp-category">
        <a href="#" onclick="set_cookie('hpcategories_kids_na_imagetext');">
         <div class="hp-category-name">
          Kids
         </div> <img src="//dispatch.barnesandnoble.com/content/dam/ccr/homepage/daily/2017/categories/0112/Kids_CategoryPod_.jpg" alt="" /> </a>
       </div>
      </div>
      <div class="hp-category hp-cat-t624 hp-ordinal">
       <div class="clearer" id="hpTopContainer">
        <div class="hp-ordinal-hdr">
         B&amp;N Top 100
        </div>
        <ol id="hp-top-100">
         <li><a onclick="set_cookie(hpcategories_B&amp;N-Top-100_House-of-Spies/Daniel-Silva_text);
           " href="#"
           title="House of Spies (Signed Book) (Gabriel Allon Series #17)">
           <span class="hp-ordinal-position">1</span><span class="hp-ordinal-title">House of Spies (Signed Book) (Gabriel Allon…</span>
           <span class="hp-ordinal-author">by Daniel Silva</span></a></li>

         <li><a onclick="set_cookie(hpcategories_B&amp;N-Top-100_Astrophysics-for-People-in-a-Hurry/Neil-deGrasse-Tyson_text);"
           href="#"
           title="Astrophysics for People in a Hurry"><span class="hp-ordinal-position">2</span>
           <span class="hp-ordinal-title">Astrophysics for People in a Hurry</span>
           <span class="hp-ordinal-author">by Neil deGrasse Tyson</span></a></li>

         <li><a onclick="set_cookie(hpcategories_B&amp;N-Top-100_The-Silent-Corner/Dean-Koontz_text);"
           href="#" title="The Silent Corner (Signed Book)">
           <span class="hp-ordinal-position">3</span><span class="hp-ordinal-title">The Silent Corner (Signed Book)</span>
           <span class="hp-ordinal-author">by Dean Koontz</span></a></li>

         <li><a onclick="set_cookie(hpcategories_B&amp;N-Top-100_Lord-of-Shadows/Cassandra-Clare_text);
           "href="#"
           title="Lord of Shadows (Dark Artifices Series #2) (B&amp;N Exclusive Edition)"><span class="hp-ordinal-position">4</span>
           <span class="hp-ordinal-title">Lord of Shadows (Dark Artifices Series #2)…</span>
           <span class="hp-ordinal-author">by Cassandra Clare</span></a></li>

         <li><a onclick="set_cookie(hpcategories_B&amp;N-Top-100_Into-the-Water/Paula-Hawkins_text);
           " href="#" title="Into the Water">
           <span class="hp-ordinal-position">5</span><span class="hp-ordinal-title">Into the Water</span>
           <span class="hp-ordinal-author">by Paula Hawkins</span></a></li>
        </ol>
        <div class="hp-ordinal-cta-shell">
         <a onclick="set_cookie(hpcategories_b-n-top-100_see-all_text);" class="hp-ordinal-cta" href="#">&nbsp;See All&nbsp;</a>
        </div>
       </div>
      </div>
      <div class="hp-category">
       <!-- last hp-cat-w624   -->
       <a href="#" onclick="set_cookie('hpcategories_nook_na_imagetext');">
        <div class="hp-category-name left">
         NOOK
        </div> <img src="//dispatch.barnesandnoble.com/content/dam/ccr/homepage/daily/2017/categories/0112/NOOK_CategoryPod_.jpg" alt="" /> </a>
      </div>
      <div class="hp-category">
       <a href="#" onclick="set_cookie('hpcategories_teen_na_imagetext');">
        <div class="hp-category-name">
         Teens
        </div> <img src="//dispatch.barnesandnoble.com/content/dam/ccr/homepage/daily/2017/categories/0112/Teens_CategoryPod_.jpg" alt="" /> </a>
      </div>
      <div class="hp-category">
       <a href="#" onclick="set_cookie('hpcategories_toys-games_na_imagetext');">
        <div class="hp-category-name">
         Toys &amp; Games
        </div> <img src="//dispatch.barnesandnoble.com/content/dam/ccr/homepage/daily/2017/categories/0112/Toys_CategoryPod_.jpg" alt="" /> </a>
      </div>
      <div class="hp-category">
       <a href="#" onclick="set_cookie('hpcategories_home-gift_na_imagetext');">
        <div class="hp-category-name">
         Home &amp; Gifts
        </div> <img src="//dispatch.barnesandnoble.com/content/dam/ccr/homepage/daily/2017/categories/0112/HomeGift_CategoryPod_.jpg" alt="" /> </a>
      </div>
      <div class="hp-category">
       <a href="#" onclick="set_cookie('hpcategories_movies-tv_na_imagetext');">
        <div class="hp-category-name">
         Movies &amp; TV
        </div> <img src="//dispatch.barnesandnoble.com/content/dam/ccr/homepage/daily/2017/categories/0112/Movies_TV_CategoryPod_.jpg" alt="" /> </a>
      </div>
      <div class="hp-category-promo bnreads">
       <a href="#" onclick="set_cookie('hpcategories_bnreads_na_imagetext');">
        <div class="hp-category-promo-name">
         B&amp;N Reads
        </div>
        <div class="hp-category-promo-copy">
          Reviews, recommendations,
         <br /> and book culture commentary
         <br /> from Barnes &amp; Noble.
        </div> <span class="hp1600-cta">Read More</span> </a>
      </div>
     </div>
     <!-- // close hp-categories -->
    </div>
