<div class="container wrapper"  style="padding-bottom: 200px;">
  <div class="row cart-head">
    <div class="container">
      <!--- Checkout Steps -->
      <div class="container">
    <br />
    <div class="row">

        <div class="ssl-container col-xs-12 col-sm-4 col-lg-3">
            <span class="ssl glyphicon glyphicon-lock"></span>
            <span class="ssl-text">
                256 Bit SSL<br />
                Encryption
            </span>
            <div class="clearfix"></div>
        </div>

        <div class="col-xs-12 col-sm-8 col-lg-9">
            <div class="row">
                <div class="col-xs-12 col-sm-4">
                    <div class="step active">
                        <span class="glyphicon glyphicon-home"></span>
                        Adresse
                        <div class="hidden-xs caret right"></div>
                        <div class="visible-xs caret bottom"></div>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-4">
                    <div class="step">
                            <span class="glyphicon glyphicon-usd"></span>
                            Payment
                            <div class="hidden-xs caret right"></div>
                        <div class="visible-xs caret bottom"></div>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-4">
                    <div class="step">
                        <span class="glyphicon glyphicon-ok"></span>
                        Thank you
                    </div>
                </div>
            </div>
        </div>

        <hr class="col-xs-12" />
    </div>
</div>
<!--- End checkout Steps -->

      <div class="row" style='padding-top:25px; padding-bottom:25px;'>
        <div class='col-md-12'>
          <div id='mainContentWrapper'>
            <div class="col-md-8 col-md-offset-2">
              <h2 style="text-align: center;">
                Review Your Order & Complete Checkout
              </h2>
              <hr/>
              <div class="shopping">
                <%= link_to("Add More Products & Services", products_path, class: "btn btn-info", style: "width: 100%; color: #FFFFFF;") %>
              </div>
              <hr/>

              <div class="shopping_cart">
                 <div class="order-form">
                  <div class="panel-group" id="accordion">

                    <div class="panel panel-default">
                      <div class="panel-heading">
                        <h4 class="panel-title">
                          <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">Review Your Order</a>
                        </h4>
                      </div>

                      <div id="collapseOne" class="panel-collapse collapse in">
                        <div class="panel-body">
                          <!--REVIEW ORDER-->
                          <div class="panel panel-info">
                            <div class="panel-heading" style="color: #fff;">
                              Review Order
                              <div class="pull-right">
                                <small>
                                  <%= link_to("Edit Cart", carts_path, style: "color: #FFFFFF;text-decoration:none;") %>
                                </small>
                              </div>
                            </div>
                            <div class="panel-body">
                              <% current_cart.cart_items.each do |cart_item| %>
                              <div class="form-group">
                                <div class="row">
                                <div class="col-sm-3 col-xs-3">
                                  <div class="media" style="width: 100px; height: 72px;">
                                  <%= link_to product_path(cart_item.product) do %>
                                    <% if cart_item.product.image.present? %>
                                      <%= image_tag(cart_item.product.image.thumb.url, class: "thumbnail" ) %>
                                    <% else %>
                                      <%= image_tag("http://placehold.it/200x200&text=No Pic", class: "thumbnail") %>
                                    <% end %>
                                  <% end %>
                                  </div>
                                </div>
                                <div class="col-sm-6 col-xs-6">
                                  <div class="col-xs-12"><%= link_to(cart_item.product.title, product_path(cart_item.product)) %></div>
                                  <div class="col-xs-12">
                                    <small>Quantity:<span><%= cart_item.quantity %></span>
                                    </small>
                                  </div>
                                </div>
                                <div class="col-sm-3 col-xs-3 text-right">
                                  <h6>
                                    <span>¥</span><%= cart_item.product.price %></h6>
                                </div>
                              </div>
                              </div>
                              <div class="form-group"><hr/></div>
                              <% end %>

                              <div class="form-group">
                                <div class="col-xs-12">
                                  <strong>Order Total</strong>
                                  <div class="pull-right">
                                    <span><%= render_cart_total_price(current_cart) %> CNY</span>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <!-- REVIEW ORDER END -->
                        </div>
                      </div>

                    </div>
                  </div>

                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title">
                        <div style="text-align: center; width:100%;">
                          <a style="width:100%;" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" class="btn btn-success" onclick="$(this).fadeOut(); $('#payInfo').fadeIn();">Continue to Billing & Shipping Information»</a>
                        </div>
                      </h4>
                    </div>
                  </div>

                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">Billing and Shipping Information</a>
                      </h4>
                    </div>
                    <div id="collapseTwo" class="panel-collapse collapse">
                      <div class="panel-body">
                        <!--SHIPPING METHOD-->
                        <div class="panel panel-info">
                          <div class="panel-heading" style="color: #fff;">
                            Address
                            <div class="pull-right">
                              <small>
                                <%= link_to("Add Address In Account", edit_account_user_path(current_user), style: "color: #FFFFFF;text-decoration:none;") %>
                              </small>
                            </div>
                          </div>
                          <div class="panel-body">
                            <%= simple_form_for @order do |f| %>
                            <div class="form-group">
                              <div class="col-md-12">
                                <h4>Billing Address</h4>
                              </div>
                            </div>
                            <div class="form-group form-address">
                              <div class="col-md-12 ">
                                <%= f.input :billing_name, placeholder: '请输入订购人姓名', input_html: {value: current_user.name}, :label => '姓名' %>
                              </div>
                            </div>
                            <div class="form-group form-address">
                              <div class="col-md-12">
                                <%= f.input :billing_address, placeholder: '请输入订购人地址', input_html: {value: current_user.address}, :label => '地址' %>
                              </div>
                            </div>
                            <div class="form-group form-address">
                              <div class="col-md-12">
                                <%= f.input :billing_phone_number, placeholder: '请输入订购人电话', input_html: {value: current_user.cellphone}, :label => '电话'  %>
                              </div>
                            </div>

                            <div class="form-group">
                              <div class="col-md-12">
                                <h4>Shipping Address</h4>
                              </div>
                            </div>
                            <div class="form-group form-address">
                              <div class="col-md-12">
                                <%= f.input :shipping_name, placeholder: '请输入收货人姓名', input_html: {value: current_user.name}, :label => '姓名' %>
                              </div>
                            </div>
                            <div class="form-group form-address">
                              <div class="col-md-12">
                                <%= f.input :shipping_address, placeholder: '请输入收货人地址', input_html: {value: current_user.address}, :label => '地址' %>
                              </div>
                            </div>
                            <div class="form-group form-address">
                              <div class="col-md-12">
                                <%= f.input :shipping_phone_number, placeholder: '请输入收货人电话', input_html: {value: current_user.cellphone}, :label => '电话'  %>
                              </div>
                            </div>

                            <div class="form-group">
                              <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="checkout" style="padding: 0 10px;">
                                  <%= f.submit "Place Order", class: "btn btn-primary pull-left",
                                              data: { disable_with: "Submitting..." } %>
                                </div>
                              </div>
                            </div>
                            <% end %>
                          </div>

                        </div>
                        <!--SHIPPING METHOD END-->
                      </div>
                    </div>
                  </div>


                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
