<div class="container-fluid all-product-box" style="margin-bottom: 100px;">

  <div class="container-fluid" style="padding-top: 30px;">
    <h2>Recommended For You</h2>
    <p><%= link_to("View all", products_path, class: "pull-right viewspan", style: "color: #2C7B74;" ) %></p>
    <div class="row RecBooks">
        <% @products.each do |product| %>
        <div class="book-item">
          <div class="col-xs-12 col-sm-6 col-md-2 products-list" style="width:160px;padding: 15px;">
            <div class="product-image">
              <% link_to product_path(product) %>
              <% if product.image.present? %>
              <%= link_to image_tag(product.image.thumb.url, class: "product-list-style-img img-responsive center-block all_image_css"), product_path(product), target: "_blank" %>
            <% else %>
              <%= link_to image_tag("http://placehold.it/200x200&text=No Pic", class: "product-list-style-img img-responsive center-block all_image_css"), product_path(product), target: "_blank" %>
              <% end %>
            </div>
            <br>
            <h4 class="product-title text-center">
              <%= link_to(product.title, product_path(product), target: "_blank") %>
            </h4>
            <p class="product-author text-center">
              <%= link_to(product.author, "#", target: "_blank") %>
            </p>
          </div>
          <div class="rating">
            <div class="star-rating" data-score=<%= @avg_comment %> ></div>
          </div>
        </div>
        <% end %>

      </div>
  </div>

  <div class="container-fluid" style="padding-top: 20px;">
    <h2>What's Trending</h2>
    <h4>Hot books that are flying off our shelves</h4>
    <p><%= link_to("View all", products_path, class: "pull-right viewspan", style: "color: #2C7B74;" ) %></p>
    <div class="row RecBooks">
        <% @products.each do |product| %>
        <div class="book-item">
          <div class="col-xs-12 col-sm-6 col-md-2 products-list" style="width:160px;padding: 15px;">
            <div class="product-image">
              <% link_to product_path(product) %>
              <% if product.image.present? %>
              <%= link_to image_tag(product.image.thumb.url, class: "product-list-style-img img-responsive center-block all_image_css"), product_path(product), target: "_blank" %>
            <% else %>
              <%= link_to image_tag("http://placehold.it/200x200&text=No Pic", class: "product-list-style-img img-responsive center-block all_image_css"), product_path(product), target: "_blank" %>
              <% end %>
            </div>
            <br>
            <h4 class="product-title text-center">
              <%= link_to(product.title, product_path(product), target: "_blank") %>
            </h4>
            <p class="product-author text-center">
              <%= link_to(product.author, "#", target: "_blank") %>
            </p>
          </div>
        </div>
        <% end %>
      </div>
  </div>

  <div class="container-fluid" style="padding-top: 20px;">
    <h2>Bestsellers in Kids's</h2>
    <p><%= link_to("View all", products_path, class: "pull-right viewspan", style: "color: #2C7B74;" ) %></p>
    <div class="row RecBooks">
        <% @products.each do |product| %>
        <div class="book-item" style="">
          <div class="col-xs-12 col-sm-6 col-md-2 products-list" style="width:160px;padding: 15px;">
            <div class="product-image">
              <% link_to product_path(product) %>
              <% if product.image.present? %>
              <%= link_to image_tag(product.image.thumb.url, class: "product-list-style-img img-responsive center-block all_image_css"), product_path(product), target: "_blank" %>
            <% else %>
              <%= link_to image_tag("http://placehold.it/200x200&text=No Pic", class: "product-list-style-img img-responsive center-block all_image_css"), product_path(product), target: "_blank" %>
              <% end %>
            </div>
            <br>
            <h4 class="product-title text-center">
              <%= link_to(product.title, product_path(product), target: "_blank") %>
            </h4>
            <p class="product-author text-center">
              <%= link_to(product.author, "#", target: "_blank") %>
            </p>
          </div>
        </div>
        <% end %>
        </div>
      </div>




</div>


<script>
  $('.star-rating').raty({
    path: '/assets/',
    readOnly: true,
    score: function () {
      return $(this).attr('data-score');
    }
  });

  $('#star-rating').raty({path: '/assets/', scoreName: 'comment[rating]'});

  <!-- 必须要选一颗星 -->
  $('#star-rating img').eq(0).trigger('click')
</script>
